@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$black: #50514f;
$white: #fdfff7;
$primary: #1792a5;
$secondary: #ffd534;
$header: 'Montserrat', sans-serif;

// .header_img{
//     height: 20rem;
//     width: auto;
// }

img{
    width: 100%;
    height: auto;
    // margin: 1rem 0;
}

.jumbotron{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.intro{
    // height: 80vh;
    display: flex;
    margin: 15rem 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    h3{
        margin-top: 4rem;
    }
}

.solution{
    margin-top: 10rem;
}

.how{
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.step{
    // max-height: 60vh;
    margin: 5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.contact{
    height: 60wh;
}

textarea{
    resize: none;
}